.search_n_result {
    display: flex;
    flex-direction: column;
}


.product_block, .loading{
    display: flex;
    margin-bottom: 3rem;
    border: 1px solid #9797974a;
    padding: 1rem;
    width: 15rem;
    height: 15rem;
    line-height: 1.7rem;
    flex-direction: column;
    transition: all .5s ease;
}

.product_block {
    justify-content: space-between;
}

.product_block:hover {
    transform: scale(1.1);
    transition: all .5s ease;
    background: linear-gradient(0.6turn, #f2f3f7, #ffe7be);
}

.product_block p {
    margin-bottom: 12px;
}

.product_name {
    font-weight: 900;
    font-style: italic;
}

.product_specs {
    color: black;
}


.low_pagination {
    margin-top: -3.5rem;
}


.loading_array {
    margin-top: 3rem;
}