.search_n_result {
    display: flex;
    flex-direction: column;
}


.product_block, .loading{
    display: flex;
    margin-bottom: 3rem;
    border: 1px solid #9797974a;
    padding: 1rem;
    width: 15rem;
    height: 15rem;
    line-height: 1.7rem;
    flex-direction: column;
}

.product_block {
    justify-content: space-between;
}

.product_block p {
    margin-bottom: 12px;
}

.product_name {
    font-weight: 700;
    font-style: italic;
}


.pagination {
    /* margin-top: 2rem;
    margin-left: 5rem;
    position: fixed;
    width: 92.2%; */
    justify-content: center;
    /* margin-top: 1rem; */
}

.pagination_button {
    border-radius: 2rem;
    /* padding: 1rem; */
    width: 2rem;
    height: 2rem;
}

.low_pagination {
    margin-top: -3.5rem;
}


.pagination_prev {
    display: flex;
    margin-left: 13px;
    margin-top: 1rem;
}

.pagination_next {
    display: flex;
    /* margin-top: 1rem; */
    margin-right: 13px;
}

.prev_0 {
    visibility: hidden;
}

.loading_array {
    margin-top: 3rem;
}