.main {
    flex-direction: column;
    align-items: center;
}

.home_button {
    /* margin: 0px 0rem 18px -42px;
    position: absolute; */
}

.background_banner {
    width: 100%;
    overflow: hidden;
    height: 19rem;
    border: 1px solid #979797b3;
}

.background_banner img {
    object-position: 0px -741px;
    
}


.result {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
}

.main_span {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.backward_0 {
    visibility: hidden;
}