.search_line {
    position: absolute;
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    backdrop-filter: sepia(60%);
}

.search_block {
    display: flex;
    align-items: center;
    margin-left: 8rem;
    flex-wrap: wrap;
    height: 2.5rem;
    margin-bottom: 0.3rem;
}

.search_block h2 {
    margin: 0 1rem 0 0;
}

.search_input {
    display: flex;
    align-items: center;
}

.search_form {
    width: 17rem;
    border-radius: 14px;
    padding: 0.5rem;
    border: 1px solid #00000057;
}

.search_form:focus-visible {
    background: #ffffff;
    border: 1px solid #0000007a;
    opacity: 0.9;
}

.clear_btn {
    position: absolute;
    margin: -33px 259px;
    border: none;
    background: none;
    padding: 0.5rem;
    font-weight: 600;
    cursor: pointer;
}

.search_button {
    cursor: pointer;
    text-shadow: 0px 2px 2px #fffff7c2;
    filter: drop-shadow(2px 0px 1px rgba(255, 255, 255, 0.795));
}

.search_words {
    display: flex;
    width: 100%;
    height: 3rem;
    margin-left: 2rem;
    flex-wrap: wrap;
    background: #ffffffc9;
    align-items: center;
}

.search_words span {
    margin-left: 1.5rem;
}

.search_words h3 {
    margin: 0 15px;
   
}


.button-6 {
    align-items: center;
    background-color: #f4f0ea61;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-weight: 600;
    justify-content: center;
    margin: 0;
    min-height: 2.8rem;
    padding: 1px calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.button-80 {
    margin-bottom: 1rem;
    position: absolute;
    background: #ffffffbd;
    backface-visibility: hidden;
    border-radius: 0.375rem;
    border-style: solid;
    border-width: 0.125rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125rem;
    letter-spacing: -.01em;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-80:not(:disabled):hover {
  transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}

.button-80:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-80:not(:disabled):active {
  transform: translateY(.125rem);
}

@media only screen and (max-width:1099px) {
    .search_words {
        display: none;
    }
    .search_line {
        justify-content: center;
    }

    .search_block {
        margin-left: 0;
    }
}

@media only screen and (max-width:469px) {
    .search_input {
        flex-direction: column;
    }

    .search_form {
        margin-top: 1rem;
    }
}